RewriteEngine On

#No Directory Listing #FollowSymLinks 
Options -Indexes

#RewriteCond %{HTTP_HOST} ^domaine.com
#RewriteRule ^(.*) http://www.domaine.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]