@charset "UTF-8";

/*!
* SEAS CMS Style Theme
* @author: MB
* Licence WTFPL http://www.wtfpl.net/
*/


/* ----------------------------- */
/* 0. General                    */
/* ----------------------------- */

body {
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Luciole', sans-serif;
}

/* Colors statement */
.color-1, .color-blue {  color: var(--color-1)}
.color-2, .color-glaz-dark {  color: var(--color-2)}
.color-3, .color-glaz {  color: var(--color-3)}
.color-4, .color-glaz-light {  color: var(--color-4)}

/* Links */
a { color: var(--color-1);}
a:focus, a:hover, a:active { color: var(--color-3);}

/* Width */
.w100 {
  width: 100%;
}

/* Section */
section {
  background: var(--white-color);
  overflow: hidden;
}

.bg-section {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.bg-overlay:before {
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bg-gradient:before {
  background-image: linear-gradient(rgba(56,84,122,.9),rgba(56,84,122,.2));
}

.bg-dark:before {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#14191c),color-stop(82%,rgba(20,25,28,0)));
  background-image: -o-linear-gradient(top,#14191c 0%,rgba(20,25,28,0) 82%);
  background-image: linear-gradient(180deg,#14191c 0%,rgba(20,25,28,0) 82%);
}

.bg-glazient:before {
  background-image: linear-gradient(rgba(68,172,155,.8),rgba(68,172,155,.9));
}

/* ----------------------------- */
/* 1. Header                     */
/* ----------------------------- */

#header {
  min-height: 6.5rem;
}

.navbar {
  z-index: 8888;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--white-color);
  border-top: 0.5rem solid var(--color-1);
}

.inside {
  line-height: 1.3;
}

@media (min-width: 992px) {
  .inside {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
  }
}

.burger-button {
  padding-top: 2rem;
}

@media (min-width: 576px) {
  .burger-button {
    display: none;
  }
}

@media (min-width: 576px) {
  .site-logo {
    padding-right: 5rem;
    border-right: 1px solid #eaeaea;
  }
}

/* Menu */
.menu {
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 576px) {
  .menu {
    flex-direction: row;
  }
}

.nav-menu {
  padding: 0;
}


@media screen and (min-width: 992px) {
  .nav-menu {
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }
}

.nav-menu .nav-item {
  display: block;
  position: relative;
  text-align: left;
  border-radius: 0;
}

@media screen and (min-width: 992px) {
  .nav-menu .nav-item {
    display: inline-block;
    text-align: center;
    margin-right: 2.25rem;
  }
}

.nav-menu .nav-item a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

@media screen and (min-width: 992px) {
  .nav-menu .nav-item a {
    padding: 0;
  }
}

.nav-menu .nav-item a.selected, .nav-item>a:focus, .nav-item>a:hover, .nav-item>a:active {
  color: var(--color-3);
  border-bottom: 3px solid var(--color-3);
  background-color: var(--white-color);
  margin-top:0.22rem;
}

@media screen and (min-width: 992px) {
  .nav-menu .nav-item a {
    line-height: 5.7rem;
  }
}

/* Holder */

.holder-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.holder-contact {
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
}

.holder-contact:hover {
  text-decoration: none;
  cursor: pointer;
}

.holder-contact .btn {
  display: flex;
  justify-content: center;
  height: 6.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
}

/* ----------------------------- */
/* 2. Modular content            */
/* ----------------------------- */

/* A. Search Content ----------- */

#input-search {
  border-bottom: 1px solid var(--grey-color);
}

/* B. Hero Content ------------- */

/* Basic Hero */

.hero-subtitle {
  font-size: 1.1rem;
}

/* Permet de cacher les heures dans le hero mais à terme pas l'idéal
/*.hero-meta-date-add {
max-width: 11.2rem;
white-space: nowrap;
overflow: hidden;
text-overflow: clip;
}

.hero-meta-date-update {
max-width: 13.3rem;
white-space: nowrap;
overflow: hidden;
text-overflow: clip;
}*/

.hero-meta-author {
text-transform: capitalize;
}

.hero-action {
display: flex;
align-items: center;
}

@media screen and (max-width: 992px) {
.hero-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

.hero-action-icon img {
max-width: 60px;
}

.hero-btn, .hero-btn:hover {
color: #fff;
text-transform: uppercase;
}

/* Home Hero > Left */

.hero-title {
  font-size: 2.9rem;
  line-height: 1.1;
  font-weight: normal;
}

.hero-title b {
  font-weight: bold;
}

@media screen and (max-width: 991.98px) {
  .hero-title {
    font-size: 2.6rem;
    text-align: center;
  }
}

.hero-desc {
  font-size: 1.44rem;
}

@media screen and (max-width: 991.98px) {
  .hero-desc {
    text-align: center;
  }
}

.hero-desc u {
  text-decoration: 2px wavy underline var(--color-3);
}


/* Home Hero > Right */

.hero-card {
  position: relative;
  padding: 1.5rem;
  max-width: 20rem;
  margin-left: auto;
}

@media screen and (max-width: 991.98px) {
  .hero-card {
    margin: auto;
  }
}

.hero-card img {
  max-width: 80px;
}

.hero-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 4px;
  width: calc(100% - 5rem);
  background-color: var(--color-3);
}

.hero-card-title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.hero-card-desc {
  line-height: 1.7;
}

/* C. breadcrumb Content ------- */

#breadcrumb {
  border-bottom: 1px solid var(--grey-color);
}

.breadcrumb-list {
  padding-left: 0;
}

.breadcrumb-list>li {
  display: inline-block;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    font-family: "moon";
    content: "\e95e";
    font-weight: bolder;
    padding: 0 0.5rem;
}

/* ----------------------------- */
/* 3. Home                       */
/* ----------------------------- */

/* A. Features Content --------- */

.features-content {
  width: 50%;
}

.features-heading {
  margin: auto;
}

.features-subtitle {
  font-weight: normal;
  font-size: 1rem;
}

.features-title {
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 1.1;
}

.features-title span {
  letter-spacing: .25rem;
}

.features-card {
  position: relative;
  padding: 4.125rem 2.5rem 2.5rem;
}

@media screen and (max-width: 991.98px) {
  .features-card {

  }
}

.features-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  width: calc(100% - 5rem);
  background-color: var(--color-3);
}

.features-card img {
  max-width: 70px;
}

.features-card-icon {
  position: absolute;
  top: -2.5rem;
  left: 2.5rem;
  z-index: 2;
}

.features-card h4 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  border-bottom: 2px solid #eaeaea;
  width: 100%;
}

/* ----------------------------- */
/* 4. Page                       */
/* ----------------------------- */


/* ----------------------------- */
/* 5. Article                    */
/* ----------------------------- */
.post-content {
  flex: 1 73%;
}

.post-img {
    position: relative;
}

.post-img img {
  border-radius: .5rem;
  max-height: 22rem;
  width: max-content;
  object-fit: cover;
}

.post-img .post-event {
  position: absolute;
  color: var(--color-1);
  background-color: var(--light-color) /*rgba(255, 255, 255, 0.6)*/;
  border-radius: 0 0 0 .5rem;
  bottom: .5rem;
  left: 0;
  padding: 1rem 1.5rem;
}

.post-img .post-event::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--color-3);
  border-radius: 0 0 0 1rem;
}

.entry {
  border-top: 1px solid var(--light-color);
}

.entry a {
  color: var(--color-3);
  font-weight: 500;
}

/* ----------------------------- */
/* 6. Article List                 */
/* ----------------------------- */

.article-card {
  padding: 2.5rem;
}

.article-post-title {
  height:3rem;
  line-height: 1.2;
}

.article-post-img {
  transform: translateX(-2.5rem);
  width: calc(100% + 2.5rem);
  position: relative;
}

.article-post-img .entry-img {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.article-post-img .entry-img img {
  border-radius: 0 .5rem .5rem 0;
  max-height: 16rem;
  width: max-content;
  object-fit: cover;
}

.article-post-img .entry-img img:hover {
  filter: grayscale(.45);
}

.article-post-img .entry-date{
  position: absolute;
  left: 2.5rem;
  bottom: -1rem;
  display: inline-flex;
  align-items: center;
  padding: .5rem .8rem;
  background-color: var(--color-3);
  border-radius: .5rem;
}

.article-post-img span {
  color: var(--white-color);
  font-size: .9rem;
}

.article-post-img .day, .article-post-img .month {
  margin-right:.25rem;
}

/* ----------------------------- */
/* 7. Event List                 */
/* ----------------------------- */

.event-post-img {
  position: relative;
  overflow: hidden;
  border-radius: .5rem .5rem 0 0;
}

.event-post-img img {
  max-height: 14rem;
  width: max-content;
  object-fit: cover;
}

.event-post-img img:hover {
  filter: grayscale(.45);
}

.event-post-content {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 .5rem .5rem;
}

.event-post-date {
  flex: 1 27%;
}

.event-post-date .date-number {
  font-size: xx-large;
  line-height: 0.9;
}

.event-post-title {
  flex: 1 73%;
  line-height: 1.1;
}

.event-post-title h3 {
  font-weight: normal;
}

/* ----------------------------- */
/* 96. Contact                   */
/* ----------------------------- */

.contact-card {
  flex: 1 27%;
}

.contact-card .card-info li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-form {
  flex: 1 73%;
}

.contact-title {
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 1;
}

#name, #email-from, #email-to, #subject, #message {
  min-height: 4rem;
  border: 1px solid var(--grey-color);
  border-radius: .25rem;
  padding: .5rem 1rem;
}

#captcha {
  border: 1px solid var(--grey-color);
  border-radius: .25rem;
}

/* ----------------------------- */
/* 97. Sidebar                   */
/* ----------------------------- */

.sidebar-content {
  flex: 1 27%;
  order:2;
}


.widget {
  background-color: var(--light-color);
  padding: 2rem 2.5rem 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;
  position: relative;
}

.widget::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  left: 1.5rem;
  height: 4px;
  background-color: var(--color-3);
}

.widget-cat, .widget-tag, .widget-art, .widget-event {
  padding-bottom: 1.75rem;
}

.widget-title {
  margin-bottom: 1.5rem
}

.widget-content {
  text-align: left;
}

.widget-tag .widget-content {
  color: transparent;
}

.widget-tag .widget-content a {
  display: inline-block;
  border: 1px solid var(--color-1);
  border-radius: 0.25rem;
  padding: 0.2rem .5rem;
  margin: 0 .2rem .5rem auto;
}

.widget-tag .widget-content a:hover {
  border: 1px solid var(--color-3);
  background: var(--color-3);
  color: var(--white-color);
}

/* ----------------------------- */
/* 98. Footer                    */
/* ----------------------------- */

#footer {
  color: var(--light-color);
  background: var(--color-1);
  border-bottom: 1px solid #4b6384;
}

/* ----------------------------- */
/* 99. BottomBar                 */
/* ----------------------------- */

#bottombar, #bottombar a {
  min-height: 1rem;
  background: var(--color-2);
  color: var(--light-color);
  z-index: 999;
  text-decoration: none;
}

#bottombar a:hover {
  text-decoration: 2px wavy underline var(--color-1);
}
