/* Typo */
@import url('//fonts.googleapis.com/css?family=Source Sans Pro:300|Amatic SC:700');

body { 
	font-family: Source Sans Pro;
	font-size: 1.5rem;
}

a {
	color: #35747f;
	text-decoration: none;
	transition: color .3s;
}
	a:hover { color: #78cfd6; }


h1 {
	font-family: Amatic SC;
	font-size: 3.8rem;
	color: #78cfd6;
	text-transform: uppercase;
}

h2, h3 {
	font-family: Source Sans Pro;
	color: #35747f;
	font-weight: lighter;
}


/* Fonts */
.font-ssp { font-family: Source Sans Pro; }
.font-amatic { font-family: Amatic SC; }


/* bouton pour les liens */
.bt {
	background-color: #fff;
	color: #78cfd6;

	font-family: inherit;

	margin: 5px 0;
	padding: 2px 15px;

	border: 1px solid #78cfd6;
	border-radius: 0.5em;
}
	.bt:hover {
		background-color: #78cfd6;
		color: #fff;
	}


/* Couleur */
.color, .selected { color: #78cfd6; }
.color-alt { color: #35747f; }

.bg-color {
	color: #fff;
	background-color: #78cfd6;
}
	a.bg-color:hover  {
		background-color: #fff;
		color: #78cfd6;
	}


/* Aside */
aside {
	border-left: 0.2em solid  #78cfd6;
	opacity: 0.6;
}


/* Liste avec puce fonticon */
.fa-ul { margin: 0; }
	.fa-ul > li {
		margin-bottom: 1em;
		color: black;
	}

.fa-li {
    position: relative;
    left: inherit;
    top: inherit;
    width: inherit;
   	float: none;
}


/* Formulaire contact */
#email, #message, #question {
	border: 0px;
	border-bottom: 0.2em solid #78cfd6;
	background-color: #f7f7f7;
}

#contact input[name='reponse'] { display: none; }


/* Barre de cookie */
#cnilcookie {
	border: none;
	position: fixed;
    left: 0;
    right: 0;
    bottom: 25px;
    text-align: center;
    font-size: 1.4rem;
    display: none;
}
	#cnilcookie:hover { opacity: 1 !important; }
	#cnilcookie .bt {
		padding: .3rem .8rem;
		border: none;
	}


/* Header */
header {
	position: relative;
	z-index: 10;
	box-shadow: 0px 10px 9px -9px rgba(153,156,153,0.37);
}


/* Footer */
footer h3 {
	width : 100%;
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 0em;
}

footer div {
	width : 100%;
	margin-bottom: 0.5em;
}