/* Typo */
@import url('//fonts.googleapis.com/css?family=Poiret+One');

body {
	background-color: #0f0f0f;
	color: #ffffff;	
}

a { 
	/*text-decoration: none;*/
	transition: color .2s;
}
a:hover { color: #BB9F5D; }

nav, h1, h2, h3 { 
	font-family: 'Poiret One'; 
	font-weight: normal;
}

p { line-height: 1.8; }


section { text-shadow: 1px 1px 1px #000; }


header {
	position: relative;
	z-index: 1;
}
	header #header-logo { transition: opacity .5s; }
		header #header-logo:hover { opacity: 0.6; }
	

	/* BOUTON BURGER & Animation */
	header nav .burger {
		display: none;
		position: relative;
		overflow: hidden;
		float: right;
		right: 0;
		margin: 0 1rem;
		padding: 0;
		width: 30px;
		height: 30px;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		transition: background 0.3s;

		background-color: #000;
	}
	.burger span {
		display: block;
		position: absolute;
		top: 14px;
		left: 6px;
		right: 6px;
		height: 2px;
		background: white;

		transition: background 0.3s;
	}

	.burger span::before,
	.burger span::after {
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
		content: "";

		transition-duration: 0.3s, 0.3s;
		transition-delay: 0.3s, 0s;
	}

	.burger span::before { top: -6px; transition-property: top, transform; }
	.burger span::after { bottom: -6px; transition-property: bottom, transform; }

	/* active state, i.e. menu open */
	.burger.active { background-color: #cb0032; }
	.burger.active span { background: none; }
	.burger.active span::before { top: 0; transform: rotate(45deg);	}
	.burger.active span::after { bottom: 0; transform: rotate(-45deg); }
	.burger.active span::before,
	.burger.active span::after { transition-delay: 0s, 0.3s;	}

	
	/* MENU DE NAVIGATION */
	header nav ul {
		list-style: none;
		display: inline-block;
		padding: 0;
		margin-top: 2rem;
		/*background-color: rgba(255,255,255,0.70);*/
		/*box-shadow: inset 0 0 18px 8px #fff;
		border-radius: 5px;*/
	}
		header nav li {
			float: left;
			padding: 0 0.5rem;
			margin: 0 0.5rem;
			/*border-radius: 5px;
			transition: background .5s;*/
		}
		header nav li:hover {
			/*background-color: #fff;*/
		}
		header nav a { text-decoration: none; }


/* Animation sur le logo */
.logo  {
    position: relative;
	height: 80px;
    cursor: default;
}
	.logo h1 {
		position: relative;
		top: -92px;
		letter-spacing: 8px;
	}
	h2.under {
		position: relative;
		top: -8px;
		letter-spacing: 1px;
	}

	/* Animation sur le rectangle */
	.shape {
		opacity: 0;
		stroke-dasharray: 0 1000;
		stroke-dashoffset: 0;
		stroke-width: 8px;
		stroke: #fff;
		fill: transparent;
		transition: opacity 1.5s, stroke-dasharray 2s;/* stroke-width 1s, stroke-dashoffset 1s, */
	}
		.shape-load, .logo:hover .shape {
			opacity: 1;
			stroke-dashoffset: 0;
			stroke-dasharray: 960;
		}

	
	/* Brillance */
	.shine {  
		background-image: linear-gradient(
			to right, 
			rgba(255, 255, 255, 0.0) 0%,
			rgba(255, 255, 255, 0.0) 45%,
			rgba(255, 255, 255, 0.5) 48%,
			rgba(255, 255, 255, 0.8) 50%,
			rgba(255, 255, 255, 0.5) 52%,
			rgba(255, 255, 255, 0.0) 57%,
			rgba(255, 255, 255, 0.0) 100%
		); 
		transform: rotate(30deg);
		margin-left: -100%;
		height: 200%;
		width: 100%;
		top: -50%;
		position: absolute;
	}
		@keyframes shine-animation {
			from { margin-left: -100%; } to { margin-left: 100%; }
		}
		.shine-load { animation: shine-animation 1.5s linear; }
		.logo:hover .shine { animation: shine-animation 1.5s infinite linear; }


/* Bg cover toutes la fenetre */
.fullpage {
	position: relative;
	background-size: cover;
	min-height: 100vh;
}

/* Alignement des contenus */
.fullpage .vmiddle {
	position: absolute;
	top: 50%;
}

.fullpage .middle {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fullpage .bottom {
	position: absolute;
	bottom: 0;
}

.fullpage .right {
	position: absolute;
	right: 0;
}

.fullpage .left {
	position: absolute;
	left: 0;
}


/* Mega H2 avec barre derrière */
.fullpage h2.top {
	color: #56aead;
	font-size: 2rem;
	font-weight: bold;	
	text-align: center;
	text-transform: uppercase;

	margin-top: -1rem;
	padding-top: 0.5rem;

	position: relative;
    z-index: 1;
}
	.fullpage h2.top:before {
		border-top: 2px solid #56aead;
		content: "";
		margin: 0 auto; /* this centers the line to the full width specified */
		position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
		top: 50%; left: 0; right: 0; bottom: 0;
		width: 100%;
		z-index: -1;
	}
	.fullpage h2.top span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #0f0f0f; 
        padding: 0 15px; 
    }



/* Block Work */
#work li {
	float: left;

	margin-right: 1rem;

	list-style: none;

	min-height: 150px;
	
}
	#work li h2 {
		margin: 0;
		padding: 0 0 0.5rem;
		border-radius: 5px 5px 0 0;
		font-size: 1.3em;
		text-align: center;
		color: #fff;
		background-color: #616161;
	}
	#work li a {
		text-decoration: none;
	}



aside { border: 2px solid #000; }
aside > div { 
	border: 1px solid #000;
	height: 100%;
}


footer {
	background-color: #000;
	color: #fff;
}
	.gold a { background-color: #bb9f5d; }	

	.social .fa a {
		background-color: #222222;
		color: #fff;

		width: 1.5em;

		padding: 0.5rem;	
		margin: 0.5rem;

		display: inline-block;

		text-decoration: none;
		
		transition: background .3s;
	}	
		.social a[href*='facebook']:hover { background-color: #3a5795; }
		.social a[href*='google']:hover { background-color: #dd4b39; }