@font-face {
  font-family: 'moon';
  src:  url('moon.eot?472xxc');
  src:  url('moon.eot?472xxc#iefix') format('embedded-opentype'),
    url('moon.ttf?472xxc') format('truetype'),
    url('moon.woff?472xxc') format('woff'),
    url('moon.svg?472xxc#moon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="moon-"], [class*=" moon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moon-code:before {
  content: "\f121";
}
.moon-superscript:before {
  content: "\f12b";
}
.moon-subscript:before {
  content: "\f12c";
}
.moon-alert-circle:before {
  content: "\e902";
}
.moon-alert-octagon:before {
  content: "\e903";
}
.moon-alert-triangle:before {
  content: "\e904";
}
.moon-align-center:before {
  content: "\e905";
}
.moon-align-justify:before {
  content: "\e906";
}
.moon-align-left:before {
  content: "\e907";
}
.moon-align-right:before {
  content: "\e908";
}
.moon-archive:before {
  content: "\e909";
}
.moon-arrow-down:before {
  content: "\e90a";
}
.moon-arrow-left:before {
  content: "\e90b";
}
.moon-arrow-right:before {
  content: "\e90c";
}
.moon-arrow-up:before {
  content: "\e90d";
}
.moon-bold:before {
  content: "\e90e";
}
.moon-calendar:before {
  content: "\e90f";
}
.moon-check:before {
  content: "\e910";
}
.moon-clipboard:before {
  content: "\e911";
}
.moon-download:before {
  content: "\e912";
}
.moon-edit:before {
  content: "\e913";
}
.moon-eye:before {
  content: "\e914";
}
.moon-eye-off:before {
  content: "\e915";
}
.moon-file-minus:before {
  content: "\e916";
}
.moon-file-plus:before {
  content: "\e917";
}
.moon-file-text:before {
  content: "\e918";
}
.moon-film:before {
  content: "\e919";
}
.moon-filter:before {
  content: "\e91a";
}
.moon-flag:before {
  content: "\e91b";
}
.moon-folder:before {
  content: "\e91c";
}
.moon-folder-minus:before {
  content: "\e91d";
}
.moon-folder-plus:before {
  content: "\e91e";
}
.moon-github:before {
  content: "\e91f";
}
.moon-grid:before {
  content: "\e920";
}
.moon-hash:before {
  content: "\e951";
}
.moon-heart:before {
  content: "\e921";
}
.moon-help-circle:before {
  content: "\e922";
}
.moon-home:before {
  content: "\e923";
}
.moon-image:before {
  content: "\e924";
}
.moon-italic:before {
  content: "\e926";
}
.moon-info:before {
  content: "\e925";
}
.moon-key:before {
  content: "\e927";
}
.moon-life-buoy:before {
  content: "\e928";
}
.moon-link:before {
  content: "\e929";
}
.moon-lock:before {
  content: "\e92a";
}
.moon-log-in:before {
  content: "\e92b";
}
.moon-log-out:before {
  content: "\e92c";
}
.moon-mail:before {
  content: "\e92d";
}
.moon-maximize:before {
  content: "\e94f";
}
.moon-maximize-2:before {
  content: "\e92e";
}
.moon-minimize:before {
  content: "\e92f";
}
.moon-minimize-2:before {
  content: "\e930";
}
.moon-minus:before {
  content: "\e931";
}
.moon-more-horizontal:before {
  content: "\e932";
}
.moon-move:before {
  content: "\e933";
}
.moon-paperclip:before {
  content: "\e934";
}
.moon-paragraph:before {
  content: "\e901";
}
.moon-plus:before {
  content: "\e935";
}
.moon-printer:before {
  content: "\e936";
}
.moon-quote:before {
  content: "\e900";
}
.moon-refresh-cw:before {
  content: "\e937";
}
.moon-rss:before {
  content: "\e938";
}
.moon-save:before {
  content: "\e939";
}
.moon-settings:before {
  content: "\e93a";
}
.moon-share:before {
  content: "\e93b";
}
.moon-shopping-bag:before {
  content: "\e93c";
}
.moon-shopping-cart:before {
  content: "\e93d";
}
.moon-sliders:before {
  content: "\e93e";
}
.moon-trash:before {
  content: "\e93f";
}
.moon-type:before {
  content: "\e940";
}
.moon-underline:before {
  content: "\e941";
}
.moon-unlock:before {
  content: "\e942";
}
.moon-upload:before {
  content: "\e943";
}
.moon-user:before {
  content: "\e944";
}
.moon-user-check:before {
  content: "\e945";
}
.moon-user-minus:before {
  content: "\e946";
}
.moon-user-plus:before {
  content: "\e947";
}
.moon-user-x:before {
  content: "\e948";
}
.moon-users:before {
  content: "\e949";
}
.moon-volume:before {
  content: "\e94a";
}
.moon-volume-1:before {
  content: "\e94b";
}
.moon-volume-2:before {
  content: "\e94c";
}
.moon-volume-x:before {
  content: "\e94d";
}
.moon-x:before {
  content: "\e94e";
}
.moon-file-pdf:before {
  content: "\f1c1";
}
.moon-file-word:before {
  content: "\f1c2";
}
.moon-file-excel:before {
  content: "\f1c3";
}
.moon-file-powerpoint:before {
  content: "\f1c4";
}
.moon-file-image:before {
  content: "\f1c5";
}
.moon-file-archive:before {
  content: "\f1c6";
}
.moon-file-audio:before {
  content: "\f1c7";
}
.moon-file-movie:before {
  content: "\f1c8";
}
.moon-file-code:before {
  content: "\f1c9";
}
.moon-coffee:before {
  content: "\e952";
}
.moon-file:before {
  content: "\e953";
}
.moon-anchor:before {
  content: "\e95a";
}
.moon-command:before {
  content: "\e954";
}
.moon-droplet:before {
  content: "\e957";
}
.moon-external-link:before {
  content: "\e95b";
}
.moon-gift:before {
  content: "\e958";
}
.moon-globe:before {
  content: "\e959";
}
.moon-list:before {
  content: "\e955";
}
.moon-star:before {
  content: "\e956";
}
