/* Inspiré par knacss.com (Raphael Goetter) et donc normalize.css (Nicolas Gallagher & Jonathan Neal) */

/* Reset */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
	font-size: calc(1em * .625);
}

body {
	margin: 0;
	box-sizing: border-box;	
	background-color: #fff;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.4rem;
}


body > script { display: none !important; }

* { box-sizing: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template { display: none; }

a { 
	background-color: transparent;
	color: #333;
}

a:active, a:hover, a:focus { 
	outline: 0;
	color: #000;
}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small { font-size: 80%; }

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

img { 
	border: 0;
	vertical-align: middle;
}
/*img:not([src$=".svg"]) { height: auto; }*/

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

blockquote, figure {
	margin-left: 0;
	margin-right: 0;
}

hr { 
	box-sizing: content-box;
	height: 0;
}

pre { overflow: auto; }

code, kbd, pre, samp {
	white-space: pre-line;
	white-space: pre-wrap;
	font-family: Consolas, "DejaVu Sans Mono", Courier, monospace;
	line-height: normal;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	outline: none;
}
	input:focus, textarea:focus { border: 1px solid #000; }
	
button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled], .disabled { 
	background-color: buttonface !important;
	color: graytext;
	box-shadow: none;
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input { 
	line-height: normal;
	background-color: #fff;
	border: 1px solid #a9a9a9;
    padding: 0.4em 0.5rem 0.5rem;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea { 
	overflow: auto;
	padding: 0.4em;
}

optgroup { font-weight: bold; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th { padding: 0; }

ul, ol { padding-left: 2em; }
ul.unstyled { list-style: none; }


p, .p-like, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption, details, figure {
	margin-top: 0.75em;
	margin-bottom: 0;
	line-height: 1.5;
}

h1, .h1-like { font-size: 3.2rem; }
h2, .h2-like { font-size: 2.8rem; }
h3, .h3-like { font-size: 2.4rem; }
h4, .h4-like { font-size: 2rem; }
h5, .h5-like { font-size: 1.8rem; }
h6, .h6-like { font-size: 1.6rem; }

em, .italic, address, cite, i, var { font-style: italic; }

/* End Reset*/



/* alternate font-sizing */
.smaller { font-size: 0.6em !important; }
.small { font-size: 0.8em !important; }
.medium { font-size: 1em !important; }
.big { font-size: 1.2em !important; }
.bigger { font-size: 1.5em !important;  }
.biggest { font-size: 2em !important; }
.mega { font-size: 4em !important; }


/* Text effect */
.up { text-transform: uppercase; }
.normal { font-weight: normal; }
.bold { font-weight: bold; }

/* Color */
.white { color: #fff !important; }
.black { color: #000 !important; }
.grey { color: #808080 !important; }

.yes { color: #3e9c30 !important; }
.no { color: #9f2d2d !important; }

.checked { color: #1ba238 !important; opacity: 1 !important; }

.color { color: #77d1d0; }
.bg-color { background-color: #77d1d0; }
.box-shadow { box-shadow: 0 1px 2px 0 rgba(150, 150, 150, 0.8); }


/* Transparence */
.o50 { opacity: 0.5; }
.o80 { opacity: 0.8; }
.ho1:hover { opacity: 1; }

/* Alignement */
.vat { vertical-align: top !important; }
.vam { vertical-align: middle !important; }
.vab { vertical-align: bottom !important; }
.vatt { vertical-align: text-top !important; }
.nowrap { white-space: nowrap; }
.dot { text-overflow: ellipsis; }


/*  Layout and modules */
.mod, .ofh { overflow: hidden; }

.clear, .line, .row { clear: both; }

.clearfix::after, .line::after {
	content: "";
	display: table;
	clear: both;
	border-collapse: collapse;
}

.left { margin-right: auto; }
.right { margin-left: auto; }
.center { 
	margin-left: auto !important;
	margin-right: auto !important;
}
	img.center { 
		display: block !important;
	}

.txtleft, .tl { text-align: left !important; }
.txtright, .tr { text-align: right !important; }
.txtcenter, .tc { text-align: center !important; }
.txtjustify, .tj { text-align: justify; }

.fl { float: left; }
.fr { float: right; }

img.fl { margin-right: 1rem; }
img.fr { margin-left: 1rem; }
img.fl, img.fr { margin-bottom: 0.5rem; }


/* Table layout */
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.row > *, .col {
	display: table-cell;
	vertical-align: top;
}

.inbl {
  display: inline-block;
  vertical-align: top;
}

.inline { display: inline !important; }
.block { display: block !important; }
.none { display: none; }
.hidden { visibility: hidden; }
.visible { visibility: visible !important; }
.absolute { position: absolute; }
.relative { position: relative; }


/* Forms */
form, fieldset {
  border: none;
}
input, button, select, label, .bt {
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
}
button, input, optgroup, select, textarea { color: #000; }
label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
legend {
  border: 0;
  white-space: normal;
}
textarea {
  min-height: 5em;
  vertical-align: top;
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}
select {
  -webkit-appearance: menulist-button;
}
/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */
/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
::-webkit-input-placeholder {
  color: #777;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #777;
}
/* unstyled forms */
button.unstyled,
input[type="button"].unstyled,
input[type="submit"].unstyled,
input[type="reset"].unstyled {
  padding: 0;
  border: none;
  line-height: 1;
  text-align: left;
  background: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button.unstyled:focus,
input[type="button"].unstyled:focus,
input[type="submit"].unstyled:focus,
input[type="reset"].unstyled:focus {
  box-shadow: none;
  outline: none;
}


/* Curseur */
.pointer { cursor: pointer; }

/* Lien */
.tdn { text-decoration: none !important; }
.tdn:hover { text-decoration: none !important; }


/* Pour ajouter des pictos dans les menus select */
.fa-select { font-family: FontAwesome, Helvetica, Arial, sans-serif; }


/* Bouton */
.bt {
	background-color: #f5f5f5;		
	color: #507075;
	text-align: center;
	text-decoration: none;

	display: inline-block;

	/* padding: 0 6px 1px; */	

	border-radius: 3px;
	border: 1px solid rgba(117, 137, 140, 0.5);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

	overflow: hidden;
    text-overflow: ellipsis;

	transition: all .3s;
}
	.bt:focus, input[type="button"]:focus, button:focus {
	  -webkit-tap-highlight-color: transparent;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	.bt:hover {
		color: #ffffff;
		text-decoration: none;
		box-shadow: none;
		background-color: #75898c;		

		box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset, 0 100px 0 rgba(255, 255, 255, 0.05) inset;
	}
	.bt:active { 
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 100px 0 rgba(0, 0, 0, 0.1) inset;
	}

/* Bouton de connexion */
.bt.connect {
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	color: #fff !important;
    text-decoration: none;
    white-space: nowrap;
	text-align: left;

	padding: 8px;
	margin: 0 0 5px 0;
	width: 100%;	
}
	.bt.connect:before {
		font-family: FontAwesome;
		font-size: 15px;
		text-align: center;

		vertical-align: bottom;

		margin-right: 10px;
		padding-right: 8px;

		width: 8%;		
		
		display: inline-block;

		border-right: rgba(0, 0, 0, 0.2) 1px solid;		
	}

	.bt.connect.nohover:hover { box-shadow: none !important; }
	.bt.connect.nohover:active { box-shadow: none !important; }

	.bt.internal { background-color: #77d1d0; }
		.bt.connect.internal:before { content: "\f084"; }
	.bt.facebook { background-color: #3A5795; }
		.bt.connect.facebook:before { content: "\f09a"; }
	.bt.google { background-color: #dd4b39; }
		.bt.connect.google:before { content: "\f1a0"; }
	.bt.yahoo { background-color: #4101af; }
		.bt.connect.yahoo:before { content: "\f19e"; }
	.bt.microsoft { background-color: #008299; }
		.bt.connect.microsoft:before { content: "\f17a"; }


/* Bouton flottant */
.bt.fixed {
	display: none;	
	position: fixed;
	z-index: 999;

	width: auto;
	right: 20px;
	bottom: 20px;

	margin: 0;
	padding: 0.2rem 1rem;

	border-radius: 100%;

	opacity: 0.6;
	text-shadow: none;
}
	.bt.edit, .bt.add, .bt.top { 
		height: 38px;
		padding: 0.5rem;
	}
	.bt.fixed.edit { 	
		transition: right .1s;	
		opacity: 0.2;
	}
	.bt.fixed.add { 
		margin-bottom: 10px;
		transition: bottom .3s;		
		z-index: 998;
	}
	.bt.fixed.construction { 		
		left: 10px;
		right: initial;
		opacity: 0.5;
		display: block;		
		padding-left: 0.5rem;
		border-radius: 8px;
	}
	.bt.fixed:hover { 		
		opacity: 1;	
	}


/* Image dans le fond d'un input */
.wrapper {
	color: rgba(0, 0, 0, 0.3);
	position: relative;
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	top: 3px;
	width: 22px;
	margin-left: -28px;
}


/* GRIDS */
/* grid container */
[class*="grid-"] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	margin-left: -1em;
	/* inline-block fallback for IE9 generation */
	letter-spacing: -0.31em;
	text-rendering: optimizespeed;
}
/* grid childs */
[class*="grid-"] > * {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
			flex: 0 0 auto;
	width: calc(100% * 1 / 4 - 1em - .01px);
	margin-left: 1em;
	/* inline-block fallback for IE9 generation */
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	text-rendering: auto;
}

@media (min-width: 544px) {
	.grid, .grid--reverse {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; 
	}
    .grid > *, .grid--reverse > * {
		-webkit-box-flex: 1;
				-ms-flex: 1 1 0%;
					flex: 1 1 0%;
		box-sizing: border-box;
		min-width: 0;
		min-height: 0; 
	}
    .grid.has-gutter > * + *, .grid--reverse.has-gutter > * + * { margin-left: calc(1rem - 0.01px); }
    .grid.has-gutter-l > * + *, .grid--reverse.has-gutter-l > * + * { margin-left: calc(2rem - 0.01px); }
    .grid.has-gutter-xl > * + *, .grid--reverse.has-gutter-xl > * + * { margin-left: calc(4rem - 0.01px); }
}

[class*="grid-2"] > * { width: calc(100% * 1 / 2 - 1em - .01px); }
[class*="grid-2"] > .flex-item-double { width: calc(100% * 2 / 2 - 1em - .01px); }
[class*="grid-3"] > * { width: calc(100% * 1 / 3 - 1em - .01px); }
[class*="grid-3"] > .flex-item-double { width: calc(100% * 2 / 3 - 1em - .01px); }
[class*="grid-4"] > * { width: calc(100% * 1 / 4 - 1em - .01px); }
[class*="grid-4"] > .flex-item-double { width: calc(100% * 2 / 4 - 1em - .01px); }
[class*="grid-5"] > * { width: calc(100% * 1 / 5 - 1em - .01px); }
[class*="grid-5"] > .flex-item-double { width: calc(100% * 2 / 5 - 1em - .01px); }
[class*="grid-6"] > * { width: calc(100% * 1 / 6 - 1em - .01px); }
[class*="grid-6"] > .flex-item-double { width: calc(100% * 2 / 6 - 1em - .01px); }
[class*="grid-7"] > * { width: calc(100% * 1 / 7 - 1em - .01px); }
[class*="grid-7"] > .flex-item-double { width: calc(100% * 2 / 7 - 1em - .01px); }
[class*="grid-8"] > * { width: calc(100% * 1 / 8 - 1em - .01px); }
[class*="grid-8"] > .flex-item-double { width: calc(100% * 2 / 8 - 1em - .01px); }
[class*="grid-10"] > * { width: calc(100% * 1 / 10 - 1em - .01px); }
[class*="grid-10"] > .flex-item-double { width: calc(100% * 2 / 10 - 1em - .01px); }
[class*="grid-12"] > * { width: calc(100% * 1 / 12 - 1em - .01px); }
[class*="grid-12"] > .flex-item-double { width: calc(100% * 2 / 12 - 1em - .01px); }

.pull { margin-right: auto; }
.push { margin-left: auto; }


/* blocks widths (percentage and pixels) */
.w10 { width: 10%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w33 { width: 33.3333%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w66 { width: 66.6666%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }
.w50p { width: 50px; }
.w100p { width: 100px; }
.w150p { width: 150px; }
.w200p { width: 200px; }
.w300p { width: 300px; }
.w400p { width: 400px; }
.w500p { width: 500px; }
.w600p { width: 600px; }
.w700p { width: 700px; }
.w800p { width: 800px; }
.w960p { width: 960px; }
.w1140p { width: 1140px; }
.mw320p { max-width: 320px; }
.mw960p { max-width: 960px; }
.mw1140p { max-width: 1140px; }
.wauto { width: auto; }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n = small, medium, large, none
*/
.man { margin: 0; }
.mat { margin: 0.5rem; }
.mas { margin: 1rem; }
.mam { margin: 2rem; }
.mal { margin: 4rem; }
.mtn { margin-top: 0; }
.mtt { margin-top: 0.5rem; }
.mts { margin-top: 1rem; }
.mtm { margin-top: 2rem; }
.mtl { margin-top: 4rem; }
.mrn { margin-right: 0; }
.mrt { margin-right: 0.5rem; }
.mrs { margin-right: 1rem; }
.mrm { margin-right: 2rem; }
.mrl { margin-right: 4rem; }
.mbn { margin-bottom: 0; }
.mbt { margin-bottom: 0.5rem; }
.mbs { margin-bottom: 1rem; }
.mbm { margin-bottom: 2rem; }
.mbl { margin-bottom: 4rem; }
.mln { margin-left: 0; }
.mlt { margin-left: 0.5rem; }
.mls { margin-left: 1rem; }
.mlm { margin-left: 2rem; }
.mll { margin-left: 4rem; }

.pan { padding: 0; }
.pat { padding: 0.5rem; }
.pas { padding: 1rem; }
.pam { padding: 2rem; }
.pal { padding: 4rem; }
.ptn { padding-top: 0; }
.ptt { padding-top: 0.5rem; }
.pts { padding-top: 1rem; }
.ptm { padding-top: 2rem; }
.ptl { padding-top: 4rem; }
.prn { padding-right: 0; }
.prt { padding-right: 0.5rem; }
.prs { padding-right: 1rem; }
.prm { padding-right: 2rem; }
.prl { padding-right: 4rem; }
.pbn { padding-bottom: 0; }
.pbt { padding-bottom: 0.5rem; }
.pbs { padding-bottom: 1rem; }
.pbm { padding-bottom: 2rem; }
.pbl { padding-bottom: 4rem; }
.pln { padding-left: 0; }
.plt { padding-left: 0.5rem; }
.pls { padding-left: 1rem; }
.plm { padding-left: 2rem; }
.pll { padding-left: 4rem; }


/* Contenu éditable */
div.editable {
	display: inherit;/*inline-flex inline-block*/
	/* @todo voir car il y a un bug avec les contenu pas très large */
}


/* Barre de progression */
.progress {
	/*background-color: rgba(122, 210, 217, 0.8);*/	
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	min-height: 4px;
	z-index: 10;
	opacity: .8;
	transition: all .3s;
}



/* LAYER & Tooltip */
.layer, body .ui-tooltip  {
	background-color: #fbfbfb;border-width: 1px;
	border: 0;
	
	border-top: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 2px 5px rgba(0, 0, 0, 0.3);
}
	/* Fleche au dessu du layer */
	.layer:before, .layer:after, .ui-tooltip:before, .ui-tooltip:after {
		content: "";
		position: absolute;
		top: -20px;
		left: 2rem;
		height: 0;
		width: 0;
		border: 10px solid transparent;
		border-bottom-color: rgba(190, 190, 190, 0.6);
	}
		.layer:after, .ui-tooltip:after {		
			top: -18px;
			border-bottom-color: #ffffff;			
		}


/* Animation onscroll */
.animation { transition: all 1s ease-out; }
	
	.t5 { transition: all .5s !important; }

	.fade-in { 
		opacity: 0;
		transition-delay: .3s;
	}

	.slide-up {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
		backface-visibility: hidden;
	}

	.slide-left {
		opacity: 0;
		transform: translate3d(-100px, 0, 0);
		backface-visibility: hidden;

		animation: slide-left .3s 1 ease-out;
	}
		@keyframes slide-left {
		    0% { transform: translate3d(-100%, 0, 0); }
		    100% { transform: translate3d(0, 0, 0); }
		}

	.slide-right {
		opacity: 0;
		transform: translate3d(100px, 0, 0);
		backface-visibility: hidden;
		
		animation: slide-right .3s 1 ease-out;
	}
		@keyframes slide-right {
		    0% { transform: translate3d(100%, 0, 0); }
		    100% { transform: translate3d(0, 0, 0); }
		}

		.fire {
			opacity: 1 !important;
			transform: translate3d(0, 0, 0) !important;
		}



/* hiding content */
@media (max-width: 640px) {
	.no-small-screen { display: none; }
	.small-screen { display: block; }
}
@media (min-width: 1280px) {
	.no-large-screen { display: none; }
}

/* ---------------------------------- */
/* ==Responsive small                 */
/* ---------------------------------- */
@media (min-width: 321px) and (max-width: 640px) {
	/* quick reset in small resolution and less */
	.w600p,
	.w700p,
	.w800p,
	.w960p,
	.mw960p {
		width: auto;
		float: none;
	}
}
/* ---------------------------------- */
/* ==Responsive tiny                  */
/* ---------------------------------- */
@media (max-width: 320px) {
	/* quick tiny resolution reset */
	.mod,
	.col,
	fieldset {
		display: block !important;
		float: none !important;
		clear: none !important;
		width: auto !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		border: 0;
	}
	.w300p,
	.w400p,
	.w500p {
		width: auto;
		float: none;
	}
	.row {
		display: block !important;
		width: 100% !important;
	}

	th,
	td {
		display: block;
		width: auto;
		text-align: left;
	}
}
/* quick print reset */
@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	body {
		width: auto;
		margin: auto;
		font-family: serif;
		font-size: 12pt;
	}
	p, .p-like,
	h1, .h1-like,
	h2, .h2-like,
	h3, .h3-like,
	h4, .h4-like,
	h5, .h5-like,
	h6, .h6-like,
	blockquote,
	ul,
	ol {
		color: #000;
		margin: auto;
	}
	.print {
		display: block;
	}
	.no-print {
		display: none;
	}
	/* no orphans, no widows */
	p,
	.p-like,
	blockquote {
		orphans: 3;
		widows: 3;
	}
	/* no breaks inside these elements */
	blockquote,
	ul,
	ol {
		page-break-inside: avoid;
	}
	/* no breaks after these elements */
	h1, .h1-like,
	h2, .h2-like,
	h3, .h3-like,
	caption {
		page-break-after: avoid;
	}
	a {
		color: #000;
	}
	/* displaying URLs
	a[href]::after {
	content: " (" attr(href) ")";
	}
	*/
	a[href^="javascript:"]::after,
	a[href^="#"]::after {
		content: "";
	}
}
